using Microsoft.AspNetCore.Identity;
using Microsoft.EntityFrameworkCore;
using Tech_E_Commerce;





<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Tech_E_Commerce"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\mvc_ Reg_Tech\Tech_E_Commerce"
                  hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>